

body
{
    border: none;
}


/* 
-------------------------------------------------------------------
                    SEZIONE HEADER 
-------------------------------------------------------------------
*/
header{
    flex-wrap: wrap;
    gap: 0.5em;
}

header h1{
    flex-basis: 100%;
    background:url("../img/LogoAutoasta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    font-size: 4em;
    text-indent: -99999em;
    margin: 0.2em;
}

#searchForm{
    flex-basis: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items:flex-start;
    justify-content: space-between;
    border: 2px solid #000;
    border: none;
}

#searchForm input{
    width: 80%;
    font-size: 1em;
    margin: 0 auto;
    border-bottom: 2px solid #000;
}

::placeholder{
    color: #000;
    /*font-style: italic;*/
}

input:focus::placeholder{
    color:transparent;
}

#searchForm button {  
    cursor:pointer;
    font-size: 1em;
    border:1px solid #000;
    border-radius:3px;
    margin: 0 auto;
    margin-top: 0.5em;
    width: 80%;
    padding: 0.3em;
}

#searchForm button img{
    box-shadow: none;
    width: 1.5em;
}

#accesso{
    text-align: center;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 0.2em;
    margin: 0.5em;
    background-color: #fff;
}

/* 
-------------------------------------------------------------------
                    SEZIONE BREADCRUMB 
-------------------------------------------------------------------
*/

#breadcrumb a:link
{
    color: #D8D8D8;
}

#breadcrumb a:visited
{
    color: #F2F5A9;
}

#breadcrumb{
    text-align: left;
}

#menu{
    float:none;
    width:100%;
    text-align: center;
    padding-top: 0;
}

#menu ul li {
    border-bottom: 1px solid #000;
}

main{
    margin-left: 0;
    border:none;
}

main h2{
    text-align: center;
    font-size: 1.3em;
}

/*
----------------------------------------------
                MENU'
----------------------------------------------
*/

#menu{
    float: none;
    width: 100%;
}


/* SEZIONE FOOTER */
footer{
    text-align: center;
    background-color: lightgrey;
    border-top: 2px solid #000;
    font-size: 1.1em;
}

/*
-------------------------------------------------------------------
                    SEZIONE LINK 
-------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------
                    SEZIONE SCHEDA VEICOLO 
-------------------------------------------------------------------
*/

.infoVeicolo li {
    display: flex;
    flex-flow: column;
    border:none;
    align-items: baseline;
}

/*
-------------------------------------------------------------------
                    SEZIONE EVENTI 
-------------------------------------------------------------------
*/
.eventList{
    width: 80%;
    margin: 0 auto;
}

.eventDescription{
    flex-flow: column;
    flex-wrap: wrap;
}

.eventDescription img {
    width: 100%;
    align-items: center;
}

.eventDescription a {
    width: 100%;
}

.eventButton {
    align-self: center;
    max-width: 80%;
    text-align: center;
    margin-bottom: 1em;
}
/*
----------------------------------------------
                SEZIONE AUTO
----------------------------------------------
*/
.autoList{
    margin-left: 0;
}

.carArticle {
    display: flex;
    flex-basis: 75%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 0em;
}

.carArticle h3{
    font-size: 1.2em;
    padding: 0.3em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #FFA500;
    font-weight: bold;
}

.carArticle p {
    color: #FFF;
}

.carArticle .imgListaAuto{
    max-width: 100%;
}

.carArticle a{
    background-color: #FFA500;
    border-radius: 5px;
    margin: 1em;
}


/*
-------------------------------------------------------------------
                    SEZIONE CHI SIAMO
-------------------------------------------------------------------
*/
.AboutUs{
    text-align: center;
    margin-left: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.cardAboutUs{
    flex-basis: 75%;
    margin: 0 auto;
}


.cardAboutUs h3{
    font-size: 1.2em;
}
/*
-------------------------------------------------------------------
                    SEZIONE FORM REGISTRAZIONE/LOGIN
-------------------------------------------------------------------
*/
.registration_form {
    padding: 0em;
    border: 0px solid #000;
    border-top-right-radius: 0em;
    border-top-left-radius: 0em;
    display: flex;
    flex-flow: column;
}

.login_form {
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 0.3em;
}

.reset_btn{
    width: 80%;
    opacity: 0.8;
    font-size: 1.1em;
    align-self: center;
}

.register_btn{
    font-size: 1.1em;
}

.register_btn:hover{
    opacity: 1;
}

.login_form_section{
    margin-top: 1em;
    border: 1px solid #000;
    border-radius: 0.3em;
}

/* 
-------------------------------------------------------------------
                     SEZIONE SCHEDA PROFILO 
-------------------------------------------------------------------
*/
div .userProfileCard{
    margin: auto;
    display: flex;
    border: 1px solid #000;
    flex-flow: column nowrap;
    margin-bottom: 5em;
}
.userProfileCard .row{
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #000;
}
.userProfileCard .second_row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFA500;
}

.userProfileCard .second_row a{
    text-align: center;
}