/* GENERALE */
*
{
    padding: 0;
    margin: 0;
}

html, body
{
    font-size: 100%;
    margin: auto;
    max-width: 1024px;
}

body
{
    border: 1px solid #000;
}

.globalDiv{
    background-color: #FFA500;
}


header{
    background-color: #FFA500;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* SEZIONE HEADER */
header h1{
    /* Bisogna capire come non far spostare il logo che sta al centro della pagina */
    flex: 1;
    background:url("../img/LogoAutoasta.png");
    text-indent: -99999em;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 7em;
    margin: 0.2em;
    text-align: center;
}

#searchForm{
    flex: 2;
    display: flex;
    flex-flow: row;
    align-items:center;
    justify-content: space-between;
    /*
    background-color: #fff; PER LA SEARCH BAR BIANCA
    border-radius: 10px;*/
    border: 2px solid #000;
    border-radius: 5px;
}

#searchForm input{
    font-size: 3em;
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    text-align: center;
    margin-left: 0.2em;
}

::placeholder{
    color: #000;
    /*font-style: italic;*/
}

input:focus::placeholder{
    color:transparent;
}

#searchForm button {  
    cursor: pointer;
    font-size: 3em;
    background-color: #fff;
    border:none;
    border-left: 2px solid #000;
    border-radius: 0px 3px 3px 0px;
    padding: 0.2em;
}

#searchForm button img{
    box-shadow: none;
    width: 1.5em;
}

#accesso{
    margin: .5em 0;
    flex: 1;
    text-align: center;
    font-size: 4em;
    border: 1px solid #000;
    padding: 0.4em;
}

/*
DA CAPIRE SE CONTENUTO O PRESENTAZIONE
#accesso a img{
    border: 2px solid #000;
    width: 25%;
}
*/

/* SEZIONE BREADCRUMB */
#breadcrumb
{
    clear: both;
    background-color: #0E1E38;
    color: #FFA500;
    font-size: 3em;
    padding: 0.5em 0em 0.5em 1.0em;
    text-align: center;
}

#breadcrumb a:link
{
    color: #D8D8D8;
}

#breadcrumb a:visited
{
    color: #F2F5A9;
}

/* SEZIONE MENU"*/
#menu{
    width: 100%;
    font-size: 4em;
    background-color: #FFA500;
    padding-top: .1em;
    text-align: center;
}

#menu ul {
    list-style-type: none;
}

#menu ul li a:hover{
    background-color: #fff;
}

#menu ul li{
    padding: 0.5em;
    vertical-align: middle;
    border: 1px solid #000;
}

#content{
    border-left: 1px solid #000;
    background-color: #fff;
}

#content h2 {
    text-align: center;
    font-size: 2em;
}

/* SEZIONE FOOTER */
footer{
    clear: both;
    text-align: center;
    background-color: lightgrey;
    border-top: 2px solid #000;
    font-size: 2em;
}

/* LINK */


/* SEZIONE EVENTI */
#eventList{

}


#eventList dt{
    background-color: #FFA500;
    font-size: 1.3em;
    padding: 0.3em;
    border: 1px solid #000;
    margin-top: 1.5em;
    box-shadow: 5px 10px #DFE0DF;

}

#eventList dd img {
    float: left;
    padding: 0.5em;
    max-width: 80%;
    
}
#eventList dd {
    background-color: #000;
    color: #fff;
    min-height: 200px;
    padding-bottom: 1em;
    box-shadow: 5px 10px #DFE0DF;

}

#eventList dd p{
    padding: 1em;
}

#eventList dd a {
    background-color: #FFA500;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #fff;
}