/* GENERALE */
*
{
    padding: 0;
    margin: 0;
}

html, body
{
    font-size: 100%;
    margin: auto;
    max-width: 1024px;
}

body
{
    border: none;
}


header{
    background-color: #FFA500;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 1em 2em;
}

header h1{
    background-size: contain;
    background-position: center;
}

#searchForm button {  
    cursor: none;
    font-size: 1.3em;
    background-color: #fff;
    border:none;
    border-left: 2px solid #000;
    border-radius: 0px 3px 3px 0px;
    padding: 0.2em;
}

#accesso{
    font-size: 1.3em;
    order: 2;
}

/*
DA CAPIRE SE CONTENUTO O PRESENTAZIONE
#accesso a img{
    border: 2px solid #000;
    width: 25%;
}
*/

/* SEZIONE BREADCRUMB */

#breadcrumb a:link
{
    color: #D8D8D8;
}

#breadcrumb a:visited
{
    color: #F2F5A9;
}

#menu{
    float:none;
    width:100%;
    text-align: center;
    padding-top: 0;
}

#menu ul li {
    border-bottom: 1px solid #000;
}

#content{
    margin-left: 0;
    border:none;
}

#content h2 {
    text-align: center;
    font-size: 2em;
}

/* SEZIONE FOOTER */
footer{
    text-align: center;
    background-color: lightgrey;
    border-top: 2px solid #000;
    font-size: 1.3em;
}

/* LINK */


/* SEZIONE EVENTI */
#eventList{

}


#eventList dt{
    background-color: #FFA500;
    font-size: 1.3em;
    padding: 0.3em;
    border: 1px solid #000;
    margin-top: 1.5em;
    box-shadow: 5px 10px #DFE0DF;

}

#eventList dd img {
    float: left;
    padding: 0.5em;
    max-width: 80%;
    
}
#eventList dd {
    background-color: #000;
    color: #fff;
    min-height: 200px;
    padding-bottom: 1em;
    box-shadow: 5px 10px #DFE0DF;

}

#eventList dd p{
    padding: 1em;
}

#eventList dd a {
    background-color: #FFA500;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #fff;
}