*{
    padding:0;
    margin:0;
}
html, body{
    font-size:100%;
    margin:auto;
    max-width: 1024px;

}
#header {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom:0.5em;
    padding-bottom:2em;
}

#header h1{
    font-size: 3em;

}

#header h1:hover{
transform: scale(1.05);

}

#header h2{
    font-size:2em;
}

#searchForm{
    display: none;
}


#searchForm input{
    display: none;
}


#searchForm button {  
  display: none;
}

#searchForm button img{
   display:none;
}

/*sezione chisiamo*/

 img{
    float:right;
    padding-top: 5em;
    width: 12%;

    
}
h3{
    padding-top: 2em;
    text-align:left;
}
p{
    float: center;
    text-align: left;  
   
}

/*sezione footer*/
footer{
    clear: both;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    font-size: 0.7em;
}