/* GENERALE */
*
{
    padding: 0;
    margin: 0;
}

html, body
{
    font-size: 100%;
    margin: auto;
    max-width: 1024px;
}

body
{
    border: 1px solid #000;
}

.globalDiv{
    background-color: orange;
}


header{
    background-color: orange;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* SEZIONE HEADER */
header h1{
    background:url("../img/LogoAutoasta.png");
    text-indent: -9999em;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 5em;
    flex: 1;
}

#searchForm{
    flex: 2;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

#searchForm input{
    font-size: 1.3em;
    width: 70%;
    background-color: transparent;
    border-color: transparent;
    border:none;
}

::placeholder{
}

#searchForm button {
    background-image: url("../img/71403.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    font-size: 2em;
    outline-color: transparent;
    border: none;
    border-left: 1px solid #000;
}

#accesso{
    flex: 1;
    text-align: center;
    border: 1px solid #000;
    font-size: 1.2em;
    margin: 0 0.5em;
}

/* SEZIONE BREADCRUMB */
#breadcrumb
{
    clear: both;
    background-color: #0E1E38;
    color: orange;
    font-size: 1.2em;
    padding: 0.5em 0em 0.5em 1.0em;
}

#breadcrumb a:link
{
    color: #D8D8D8;
}

#breadcrumb a:visited
{
    color: #F2F5A9;
}

/* SEZIONE MENU"*/
#menu{
    width:20%;
    font-size: 1.2em;
    background-color: orange;
    float: left;
    padding-top: 2em;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

#menu ul li a:hover{
    background-color: #fff;
}

#menu ul li{
    padding: 0.5em;
    vertical-align: middle;
    padding-left: 1em;
}

#content{
    margin-left:25%;
    border-left: 1px solid #000;
    padding:1.0em;
    background-color: #fff;
}

#content h2 {
    text-align: center;
}

/* SEZIONE FOOTER */
footer{
    clear: both;
    text-align: center;
    background-color: lightgrey;
    border-top: 2px solid #000;
}

/* LINK */


