/* GENERALE */
*
{
    padding: 0;
    margin: 0;
}

html, body
{
    font-size: 100%;
    margin: auto;
    max-width: 1024px;
}

body
{
    border: 1px solid #000;
}

/* SEZIONE HEADER */
header{
    background-color: orange;
    border: 1px solid #000;
}

#logoTopNav{
    width:9%;
    border: 1px solid #000;
    display: inline-block;
}

#SearchBar{
    width: 30%;
    border: 1px solid #000;
    vertical-align: middle;
    display: inline-block;
}

#accesso{
    width: 10%;
    border: 1px solid #000;
    display: inline-block;
}

#SearchBar form input{
    width:70%
}

#SearchBar form button{
    width: auto;
}

/* SEZIONE BREADCRUMB */
#breadcrumb
{
    background-color: #0E1E38;
    color: #F3C428;
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 1.0em
}

#breadcrumb a:link
{
    color: #D8D8D8;
}

#breadcrumb a:visited
{
    color: #F2F5A9;
}

/* SEZIONE FOOTER */
footer{
    text-align: center;
    background-color: lightgrey;
    border-top: 2px solid #000;
}

